.main {
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.buttons {
    margin: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

.button {
    width: 200px;
    height: 100%;
    border: 1px solid #000;
    border-radius: 5px;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    line-height: 3rem;
    cursor: pointer;
}

.splitContainer {
    display: flex;
}
  
.splitContainer > div {
    flex: 1;
    width: 50%;
    min-width: 400px;
    margin: 0 20px;
}

.finalImage {
    height: 100%;
    object-fit: cover;
    position: relative;
}
  
.finalDescription {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 10px;
    color: white;
    
    overflow-wrap: break-word;
    max-width: 280px;
}

.finalDescription h1 {
    margin: 0;
}

.textEditor > div {
    display: block;
    margin-bottom: 25px;
}

.input {
    display: block;
    width: 100%;
}

.home {
    margin-top: 50px;
}

.homeButton {
    padding: 0.75rem 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-weight: 600;
}

.homeButton:hover {
    transition: all 0.2s ease-in-out;
    border: 1px solid black;
    background-color: white;
    color: black;
}
