.main {
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.choices {
    margin: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

.choice {
    width: 200px;
    height: 100%;
    border: 1px solid #000;
    border-radius: 5px;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    line-height: 3rem;
    cursor: pointer;
}

.splitContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.splitContainer > div {
    flex: 1;
    width: 50%;
    margin: 0 50px;
}

.finalImage {
    height: 100%;
    max-width: 300px;
    max-height: 533px;
    object-fit: cover;
    position: relative;
}
  
.finalDescription {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    color: white;
    
    overflow-wrap: break-word;
    max-width: 280px;
}

.finalTitle, .finalDate {
    margin: 0;
}

.finalDate {
    font-size: 16px;
}

.textEditor > div {
    display: block;
    margin-bottom: 50px;
}

.form > div {
    margin-bottom: 25px;
}

.input {
    display: block;
    width: 100%;
}
